.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chart_bg{
  background-color: #6c757d;
  border-radius: 25px 25px 25px 25px;
  margin-top: 1%;
  display:inline;
  float:left;
  color: white;
  border: solid white 1px;
}

.pieChart_bg{
  background-color: #6c757d;
  border-radius: 25px 25px 25px 25px;
  margin-top: 1%;
  display: inline;
  float: left;
  color: white;
  width: 30%;
  aspect-ratio: 1.2;
  border: solid white 1px;
}

body{
  width: 100%;
  height: 100%;
  background-color: #1a1e34;
  position: absolute;
}

.menu{
  height: 90%;
  width: 15%;
  background-color: #1d8cf8;
  display: inline;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  color: white;
  position: fixed;
  border: solid white 3px;
  border-radius: 25px 25px 25px 25px;
  overflow: auto;
  top: 5%;
}

.menu_txt{
  margin-left: 10%;
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  width: 80%;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.menu_txt:hover{
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  color: black;
  
}

.menu_txt_first{
  margin-left: 10%;
  border-bottom: solid white 2px;
  width: 80%;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 150%;
  font-weight: bold;
}

.xdata{
  background-color: #6c757d;
  border-radius: 25px 0px 0px 25px;
  margin-top: 1%;
  display: inline;
  float: left;
  color: white;
  margin-left: 1%;
  text-align: center;
  font-size: 120%;
  overflow: auto;
  border: solid white 1px;
}

.xdata>div {
  color: white;
  text-align: center;
  font-size: 105%;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}